{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Rodolfo Londero </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.min.css' %}">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/fonts/font-awesome.min.css' %}">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/fonts/simple-line-icons.css' %}">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="{% static 'pp/css/slicknav.css' %}">
    <!-- Menu CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/menu_sideslide.css' %}">
    <!-- Slider CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/slide-style.css' %}">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/nivo-lightbox.css' %}">
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/animate.css' %}">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/main.css' %}">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/responsive.css' %}">

</head>

<body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                      <span class="icon-menu"></span>
                      <span class="icon-menu"></span>
                      <span class="icon-menu"></span>
                    </button>
                    <a href="" class="navbar-brand"><img src="{% static 'app/img/logo.png' %}" alt=""></a>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
                        <li class="nav-item active"><a class="nav-link" href="#hero-area">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">{% trans "Sobre" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">{% trans "Serviços" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="#resume">Resume</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolios">{% trans "Trabalhos" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">{% trans "Contato" %}</a></li>
                    </ul>
                </div>
            </div>

            <!-- Mobile Menu Start -->
            <ul class="onepage-nev mobile-menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">Sobre</a></li>
                <li><a href="#services">Serviços</a></li>
                <li><a href="#resume">Resume</a></li>
                <li><a href="#portfolio">Trabalhos</a></li>
                <li><a href="#contact">Contato</a></li>
            </ul>
            <!-- Mobile Menu End -->
        </nav>
        <!-- Navbar End -->

        <!-- Hero Area Start -->
        <div id="hero-area" class="hero-area-bg">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <div class="contents">
                            {% include 'apresentacao.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->

    <!-- About Section Start -->
    {% include "sobre.html" %}
    <!-- About Section End -->

    <!-- Services Section Start -->
    {% include "trabalhos.html" %}
    <!-- Services Section End -->

    <!-- Resume Section Start -->
    {% include "resume.html" %}
    <!-- Resume Section End -->

    <!-- Portfolio Section -->
    {% include "portfolio.html" %}
    <!-- Portfolio Section Ends -->

    <!-- Counter Area Start-->
    {% include "contagem.html" %}
    <!-- Counter Area End-->

    <!-- Contact Section Start -->
    {% include 'contato.html' %}
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    <footer class="footer-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
                        {% include 'redes_sociais.html' %}
                        <p>Copyright © 2018 UIdeck All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
        <i class="icon-arrow-up"></i>
    </a>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'app/js/jquery-min.js' %}"></script>
    <script src="{% static 'app/js/popper.min.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'app/js/jquery.mixitup.js' %}"></script>
    <script src="{% static 'app/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'app/js/waypoints.min.js' %}"></script>
    <script src="{% static 'app/js/wow.js' %}"></script>
    <script src="{% static 'app/js/jquery.nav.js' %}"></script>
    <script src="{% static 'app/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'app/js/nivo-lightbox.js' %}"></script>
    <script src="{% static 'app/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'app/js/main.js' %}"></script>
    <script src="{% static 'app/js/form-validator.min.js' %}"></script>
    <script src="{% static 'app/js/contact-form-script.min.js' %}"></script>
    <script src="{% static 'app/js/map.js' %}"></script>

</body>

</html>